
@media (max-width: 1270px) {
    .Copyright .standardWidth{
        padding: 20px;
    }
}
@media (max-width: 1137px) {
    .cartContent{
        padding: 30px;
    }
}
@media (max-width: 1028px) {
    .cart{
        grid-template-columns:  1fr ;
    }
    .bagListContainer{
        grid-template-columns:  1fr 1fr ;
    }
    .Footer{
        grid-template-columns:  1fr 1fr ;
        gap: 40px;
    }
    .bagDetailViewContainer{
        grid-template-columns:  1fr ;
    }
    .bagDetailsContent{
        max-width: 100%;
        margin-top: 36px;
        margin-bottom: 36px;
    }
    .detailsCarouselSm{
        display: block;
    }
    .detailsCarouselLg{
        display: none;
    }
}
@media (max-width: 767px) {
    .cartContent{
        padding: 30px 15px;
    }
    .rightSideContents{
        padding:30px 15px;
    }
    .logoContainer a,
    .logoContainer span.pointer{
        display: none;
    }
    .Logo{
        font-size: 25px;
    }
    .cancelSearch{
        top: 30px;
        right: 20px;
    }
    .flexZoomBtn.p-3{
        padding: 10px !important;
    }
    .ZOOM{
        padding: 0 !important;
    }
    .flexZoomBtn .mx-4{
        margin: 0 10px !important;
    }
    .shopLeft{
        display: none;
    }
    .lilSmImgContainer{
        display: flex;
    }
    .lilSmImg{
        display: block;
        max-width: 150px;
        width: 100%;
        background-image: linear-gradient(to right bottom, var(--bg), var(--mainBg));
    }
    .cartDetailsContainer{
        grid-template-columns: 1fr;
    }
    .pdSmSc{
        padding-left: 20px;
    }
    .heightManager{
        height: auto;
    }
    .productDetailContainer{
        width: 300px;
        right: -300px;
    }
    .divideByTwoWithGap{
        grid-template-columns: 1fr;
      }
}

@media (max-width:600px) {
    .cancelSearch{
        right: 15px;
    }
    .navBar{
        padding: 10px 15px;
    }
    .searchInputContainer{
        margin: 10px 35px 0 15px;
        padding: 5px 0 ;
    }
    .cancelSearch{
        top: 16px;
        right: 10px;
    }
    .Logo{
        font-size: 20px;
        letter-spacing: 2.5px;
    }
    .Footer{
        grid-template-columns:  1fr ;
        gap: 40px;
    }
    .header2{
        font-size: 20px;
    }
}

@media (max-width: 425px) {
    
    .divideByTwo .text-center{
        padding: 12px 0;
        text-align: center;
    }
    .pdSmSc{
        padding-left: 15px;
    }
    .lilSmImg{
        max-width: 100px;
    }
    .padderCart{
        padding: 10px;
    }
    .leftAutoBeen{
        padding: 80px 15px 25px 15px;
    }
    .landing{
        margin: 50px auto;
    }
    .searchInputContainer{
        margin: 10px 35px 0 10px;
        padding: 5px 0 ;
    }
    .breadCrumbsMenu .overflowy{
        padding: 0 0 0 20px;
    }
    .boxBreadCrumbs{
        padding: 20px 0 10px 15px;
    }
    .Logo{
        font-size: 19px;
    }
    .theContent{
        padding: 10px;
    }
    .standardWidth{
        padding: 0 15px ;
    }
    .Copyright .standardWidth{
        padding: 15px ;
    }
}